# Exclude dev-only files & folders from production zip distribution (git archive)
.git export-ignore
.github export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.phpunit.cache export-ignore
.phpunit.result.cache export-ignore
tests export-ignore
vendor export-ignore
phpunit.xml export-ignore
phpunit.xml.dist export-ignore
composer.json export-ignore
composer.lock export-ignore
QA.md export-ignore
*.DS_Store export-ignore
